.to-indigo-500 {
    --tw-gradient-to: #FCD34D;
}

.from-indigo-600 {
    --tw-gradient-from: #FCD34D;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to, rgba(79, 70, 229, 0));
}

.text-indigo-600 {
    --tw-text-opacity: 1;
    color: #FCD34D;
}

body{
    background-color: black;
    color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
}

.pratiksha{
  white-space: nowrap;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 15em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}




.bg-white {
    --tw-bg-opacity:0; 
   
}

.text-gray-800 {
    color:#FCD34D;
}

.text-purple-500 {
    color:#FCD34D; 
}


@media (min-width: 1200px)
{
.lg\:w-1\/3 {
  width:70%;
  margin-top:-90%;
}

}

@media (min-width: 800px)
{
.lg\:w-1\/3 {
  width:40%;
  margin-top:-90%;
}
.line1{
    font-size:80%;
}
}

@media ((min-device-width: 350px) and (max-device-width: 468px) )
{
    
        .lg\:w-1\/3 {
          width:30%;
          margin-top:-90%;
        }
    .line-1 {
        font-size: 60%;
     
    } 
}



* {
  box-sizing: border-box;
}

html {
  background-color: black;
  font-family     : "Times New Roman", Times, serif;
}

.wrapper {
  display        : flex;
  justify-content: space-around;
  align-items    : baseline;
  padding        : 3em 1em 3em 1em;
}

.box {
  display: inline-block;
}

.letter {
  text-align : center;
  font-size  : 55%;
  margin     : 0;
  font-weight: bold;
  color      : white;
  line-height: 0.55;
 
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }

  to {
      transform: translate3d(0, -10px, 0);
  }
}

.bounce {
  animation                : bounce 0.4s;
  animation-iteration-count: infinite;
  animation-direction      : alternate;
}

